header{
  text-align: center;
  font-size: 100px;
}
#counter{
  font-size: 100px;
  width: 50%;
  margin: auto;
  display: block;
  text-align: center;
  color: black;
}
.container{
  text-align: center;
}
.btn{
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;

}
body{
  background-color: rgb(219, 197, 126);
}